.about {
    background: radial-gradient(rgba(23, 20, 20, 0.734), rgba(0, 0, 0, 0.93)), url('../../img/techbro.jpg');
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.photo3 {
    background:  radial-gradient(rgba(23, 20, 20, 0.316), rgba(0, 0, 0, 0.54)), url('../../img/photo3.jpg');
    background-position:center;
    background-size: 250px;
    background-repeat: no-repeat;
    background-color: rgba(10, 10, 10, 0.344);
}


progress {
    /* style rules */
    background-color: white;
    border-radius: 20px;
    height: 8px;

  }
  progress::-webkit-progress-bar {
    background-color: rgb(240, 148, 11);
    border-radius: 20px;

    /* style rules */
  }
  progress::-webkit-progress-value {
    background-color: white;
    border-radius: 20px;


    /* style rules */
  }
  progress::-moz-progress-bar {
    /* style rules */
    background-color: white;

  }